<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766496770635-c3q8e2dg7add9qnbssg0454nu6o661a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766496770635-c3q8e2dg7add9qnbssg0454nu6o661a8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766496770635-6mhca8fjdij0san414cicpfdog5nbvi1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmslhuNurVsUyMhByV8BTjUzpqmbcn40E</string>
	<key>GCM_SENDER_ID</key>
	<string>766496770635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HTNApp</string>
	<key>PROJECT_ID</key>
	<string>htn-app-93deb</string>
	<key>STORAGE_BUCKET</key>
	<string>htn-app-93deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766496770635:ios:680d1a9fc509f13908dbce</string>
</dict>
</plist>